<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #a46a5b;text-decoration:none;font-weight:600">Unified Medical System</a>
        </div>
        <p style="font-size:1.1em; color:black;">Hey {{ name }}</p>
        <p style="color:black;">We noticed that you’ve requested a password reset for your account. To ensure the security of your account, we’ll need you to enter the one-time password (OTP) that we sent to you via email.
        Please enter the OTP in the space provided and follow the instructions to reset your password. If you don’t receive an OTP, please check your spam folder.
        If you have any questions or issues, feel free to reach out to us.
        </p>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{ otp_code }}</h2>
        <p style="font-size:0.9em; color:black;">Regards,<br />Unified Medical System</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p style="color:black;">Unified Medical System Org</p>
            <p style="color:black;">Kerala</p>
            <p style="color:black;">India</p>
        </div>
    </div>
</div>
