<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UMS - Admin Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <!-- Bootstrap CSS -->
    <link id="bootstrap-css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Style-Rtl CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-rtl.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- Full calendar -->
    <link href="{{ url_for('static', filename='fullcalendar/core/main.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='fullcalendar/daygrid/main.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='fullcalendar/timegrid/main.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='fullcalendar/list/main.css') }}" rel='stylesheet' />
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flatpickr.min.css') }}">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
</head>
<body>
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center"></div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar -->
        {% include 'admin/sidebar.html' %}
        <!-- Page Content -->
             <div class="iq-top-navbar">
               <div class="iq-navbar-custom">
                  <div class="iq-sidebar-logo">
                     <div class="top-logo">
                        <a href="index.html" class="logo">
                           <img src="images/logo.png" class="img-fluid" alt="">
                           <span>UMS</span>
                        </a>
                     </div>
                  </div>   
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                     <div class="iq-search-bar">
                        <form action="#" class="searchbox">
                           <input type="text" class="text search-input" placeholder="Type here to search...">
                           <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                        </form>
                     </div>
                     <ol class="breadcrumb ">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}"><i class="ri-home-4-line me-1 float-start"></i>Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="#"><i class="ri-home-4-line me-1 float-start"></i>Doctor Profile View</a></li>
                     </ol>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" href="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                     </button>
                     <div class="iq-menu-bt align-self-center">
                        <div class="wrapper-menu">
                           <div class="main-circle"><i class="ri-more-fill"></i></div>
                           <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                        </div>
                     </div>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto navbar-list">
                           <li class="nav-item iq-full-screen">
                              <a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a>
                           </li>
                        </ul>
                     </div>
                     <ul class="navbar-list">
                        <li>
                           <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                              <div class="caption">
                                 <h6 class="mb-0 line-height">{{admin_data['name']}}</h6>
                                 <span class="font-size-12">Available</span>
                              </div>
                           </a>
                           <div class="iq-sub-dropdown iq-user-dropdown">
                              <div class="iq-card shadow-none m-0">
                                 <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                       <h5 class="mb-0 text-white line-height">Hello {{admin_data['name']}}</h5>
                                       <span class="text-white font-size-12">Available</span>
                                    </div>
                                    <a href="{{ url_for('admin.profile') }}" class="iq-sub-card iq-bg-primary-hover">
                                       <div class="media align-items-center d-flex">
                                          <div class="rounded iq-card-icon iq-bg-primary">
                                             <i class="ri-file-user-line"></i>
                                          </div>
                                          <div class="media-body ms-3">
                                             <h6 class="mb-0 ">My Profile</h6>
                                             <p class="mb-0 font-size-12">View personal profile details.</p>
                                          </div>
                                       </div>
                                    </a>
                                    <div class="d-inline-block w-100 text-center p-3">
                                       <a class="bg-primary iq-sign-btn"  href="{{ url_for('auth.logout') }}" role="button">Sign out<i
                                             class="ri-login-box-line ms-2"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="iq-card">
                            <div class="iq-card-body ps-0 pe-0 pt-0">
                                <div class="docter-details-block">
                                    <div class="doc-profile-bg bg-primary" style="height:150px;"></div>
                                    <div class="docter-profile text-center">  
                                        <img src="{{ url_for('static', filename='images/user/11.png') }}" alt="profile-img" class="avatar-130 img-fluid">
                                    </div>
                                    <div class="text-center mt-3 ps-3 pe-3">
                                        <h4><b>{{ doctor_data['name'] }}</b></h4>
                                        <span>Last profile update: {{ doctor_data['updatedAt'] }}</span>
                                        <br>
                                        <span>UMS ID: {{ doctor_data['umsId'] }}</span>
                                        <p class="mb-0">Unified Medical System Doctor Profile.</p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="iq-card">
                                    <div class="iq-card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title">Personal Information</h4>
                                        </div>
                                    </div>
                                    <div class="iq-card-body">
                                        <div class="about-info m-0 p-0">
                                            <div class="row">
                                                <div class="col-4">Name:</div>
                                                <div class="col-8">{{ doctor_data['name'] }}</div>
                                                <div class="col-4">Email:</div>
                                                <div class="col-8"><a href="mailto:{{ doctor_data['email'] }}">{{ doctor_data['email'] }}</a></div>
                                                <div class="col-4">Phone:</div>
                                                <div class="col-8"><a href="tel:{{ doctor_data['phoneNumber'] }}">{{ doctor_data['phoneNumber'] }}</a></div>
                                                <div class="col-4">Specialization:</div>
                                                <div class="col-8">{{ doctor_data['specialization'] }}</div>
                                                <div class="col-4">State:</div>
                                                <div class="col-8">{{ doctor_data['state'] }}</div>
                                                <div class="col-4">Address:</div>
                                                <div class="col-8">{{ doctor_data['address'] }}</div>
                                                <div class="col-4">Updated At:</div>
                                                <div class="col-8">{{ doctor_data['updatedAt'] }}</div>
                                                <div class="col-4">Created At:</div>   
                                                <div class="col-8">{{ doctor_data['createdAt'] }}</div>
                                                <div class="col-4">Status:</div>
                                                <div class="col-8 {{ 'text-success' if doctor_data['status'] == 'active' else 'text-danger' }}">{{ doctor_data['status'] }}</div>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile-edit-modal">
                                                    Edit Profile
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>

 <!-- Appear JavaScript -->
 <script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
 <!-- Countdown JavaScript -->
 <script src="{{ url_for('static', filename='js/countdown.min.js') }}"></script>
 <!-- Counterup JavaScript -->
 <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
 <!-- Wow JavaScript -->
 <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
 <!-- Apexcharts JavaScript -->
 <script src="{{ url_for('static', filename='js/apexcharts.js') }}"></script>
 <!-- Swiper Slider JavaScript -->
 <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
 <!-- Select2 JavaScript -->
 <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
 <!-- Owl Carousel JavaScript -->
 <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
 <!-- Magnific Popup JavaScript -->
 <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
 <!-- Smooth Scrollbar JavaScript -->
 <script src="{{ url_for('static', filename='js/smooth-scrollbar.js') }}"></script>
 <!-- lottie JavaScript -->
 <script src="{{ url_for('static', filename='js/lottie.js') }}"></script>
 <!-- am core JavaScript -->
 <script src="{{ url_for('static', filename='js/core.js') }}"></script>
 <!-- am charts JavaScript -->
 <script src="{{ url_for('static', filename='js/amcharts.js') }}"></script>
 <!-- am animated JavaScript -->
 <script src="{{ url_for('static', filename='js/animated.js') }}"></script>
 <!-- am kelly JavaScript -->
 <script src="{{ url_for('static', filename='js/kelly.js') }}"></script>
 <!-- Flatpicker Js -->
 <script src="{{ url_for('static', filename='js/flatpickr.js') }}"></script>
 <!-- Chart Custom JavaScript -->
 <script src="{{ url_for('static', filename='js/chart-custom.js') }}"></script>
 <!-- Custom JavaScript -->
 <script src="{{ url_for('static', filename='js/custom.js') }}"></script>