<!doctype html>
<html lang="en" dir="ltr">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>UMS Admin</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
      <!-- Bootstrap CSS -->
      <link id="bootstrap-css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- Style-Rtl CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style-rtl.css') }}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
      <script>
        function clearForm() {
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        }
       </script>
   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href="index.html">
               <img src="images/logo.png" class="img-fluid" alt="">
               <span>UMS</span>
               </a>
               <div class="iq-menu-bt-sidebar">
                  <div class="iq-menu-bt align-self-center">
                     <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-more-fill"></i></div>
                           <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                     </div>
                  </div>
               </div>
            </div>
            
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul class="iq-menu">
                      <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Admin Dashboard</span></li>
                      <li>
                          <a href="index.html" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Welcome back {{admin_data['name']}}</span></a>
                      </li>
                      <li>
                       <hr class="iq-divider">
                    </li>
                      <li>
                       <a href="#" class="iq-waves-effect"><i class="ri-user-fill"></i><span>User Management</span></a>
                     </li>
                      <li>
                          <a href="#" class="iq-waves-effect"><i class="ri-group-fill"></i><span>Patients</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul class="iq-submenu">
                             <li><a href="#" data-bs-toggle="modal" data-bs-target=".patient-view-modal"><i class="ri-list-check"></i><span>View / Manage</span></a></li>
                             <li><a href="#"><i class="ri-file-list-fill"></i><span>Access Records</span></a></li>
                          </ul>
                       </li>
  
                       <li>
                          <a href="#" class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Doctors</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul class="iq-submenu">
                             <li><a href="#" data-bs-toggle="modal" data-bs-target=".doctor-view-modal"><i class="ri-list-check"></i><span>View / Manage</span></a></li>
                              <li><a href="#"><i class="ri-check-double-fill"></i><span>Add and Verify Credentials</span></a></li>
                              <li><a href="#"><i class="ri-file-list-fill"></i><span>Access Records</span></a></li>
                          </ul>
                      </li>
                      <li>
                       <a href="#" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Hospitals</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                       <ul class="iq-submenu">
                           <li><a href="#"><i class="ri-list-check"></i><span>View</span></a></li>
                           <li><a href="#"><i class="ri-add-circle-line"></i><span>Manage</span></a></li>
                           <li><a href="#"><i class="ri-check-double-fill"></i><span>Approve or Reject Registration</span></a></li>
                       </ul>
                     </li>
                      <li>
                          <a href="#" class="iq-waves-effect"><i class="ri-file-list-fill"></i><span>Hospital Registration</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul class="iq-submenu">
                              <li><a href="#"><i class="ri-list-check"></i><span>Access Directly</span></a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#" class="iq-waves-effect"><i class="ri-file-list-fill"></i><span>Doctor Registration</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul class="iq-submenu">
                              <li><a href="#"><i class="ri-list-check"></i><span>Access Directly</span></a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#" class="iq-waves-effect"><i class="ri-calendar-event-fill"></i><span>Calendar</span></a>
                      </li>
                      <li>
                          <a href="#" class="iq-waves-effect"><i class="ri-map-pin-2-fill"></i><span>Map</span></a>
                      </li>
                      <li>
                          <a href="#" class="iq-waves-effect"><i class="ri-user-fill"></i><span>Support</span></i></a>
                          <ul class="iq-submenu">
                              <li><a href="#"><i class="ri-list-check"></i><span>Manage</span></a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#" class="iq-waves-effect"><i class="ri-settings-5-fill"></i><span>Feedback</span></a>
                          <ul class="iq-submenu">
                             <li><a href="#"><i class="ri-list-check"></i><span>Manage</span></a></li>
                         </ul>
                      </li>
                  </ul>
              </nav>
               <div class="p-3"></div>
           </div>  
         </div>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <!-- TOP Nav Bar -->
            <div class="iq-top-navbar">
               <div class="iq-navbar-custom">
                  <div class="iq-sidebar-logo">
                     <div class="top-logo">
                        <a href="index.html" class="logo">
                           <img src="images/logo.png" class="img-fluid" alt="">
                           <span>UMS</span>
                        </a>
                     </div>
                  </div>   
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                     <div class="iq-search-bar">
                        <form action="#" class="searchbox">
                           <input type="text" class="text search-input" placeholder="Type here to search...">
                           <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                        </form>
                     </div>
                     <ol class="breadcrumb ">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}"><i class="ri-home-4-line me-1 float-start"></i>Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="#"><i class="ri-home-4-line me-1 float-start"></i>Patient Profile View</a></li>
                     </ol>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" href="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                     </button>
                     <div class="iq-menu-bt align-self-center">
                        <div class="wrapper-menu">
                           <div class="main-circle"><i class="ri-more-fill"></i></div>
                           <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                        </div>
                     </div>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto navbar-list">
                           <li class="nav-item iq-full-screen">
                              <a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a>
                           </li>
                           <li class="nav-item">
                              <a href="#" class="search-toggle iq-waves-effect">
                                 <i class="ri-notification-3-fill"></i>
                                 <span class="bg-danger dots"></span>
                              </a>
                              <div class="iq-sub-dropdown">
                                 <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                       <div class="bg-primary p-3">
                                          <h5 class="mb-0 text-white d-flex justify-content-between">All
                                             Notifications<small class="badge  badge-dark float-end pt-1 ms-2">4</small>
                                          </h5>
                                       </div>
   
                                       <a href="#" class="iq-sub-card">
                                          <div class="media align-items-center d-flex">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/04.jpg" alt="">
                                             </div>
                                             <div class="media-body ms-3">
                                                <h6 class="mb-0 ">New Mail from Fenny</h6>
                                                <small class="float-end font-size-12">3 days ago</small>
                                                <p class="mb-0">Jond Bini</p>
                                             </div>
                                          </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </li>
                           <li class="nav-item dropdown">
                              <a href="#" class="search-toggle iq-waves-effect">
                                 <i class="ri-mail-open-fill"></i>
                                 <span class="bg-primary count-mail"></span>
                              </a>
                              <div class="iq-sub-dropdown">
                                 <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                       <div class="bg-primary p-3">
                                          <h5 class="mb-0 text-white d-flex justify-content-between">All Messages<small
                                                class="badge  badge-dark float-end pt-1 ms-2">5</small></h5>
                                       </div>
                                       <a href="#" class="iq-sub-card">
                                          <div class="media align-items-center d-flex">
                                             <div class="">
                                                <img class="avatar-40 rounded" src="images/user/01.jpg" alt="">
                                             </div>
                                             <div class="media-body ms-3">
                                                <h6 class="mb-0 ">Bini Emma Watson</h6>
                                                <small class="float-start font-size-12">13 Jun</small>
                                             </div>
                                          </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <ul class="navbar-list">
                        <li>
                           <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                              <img src="images/user/1.jpg" class="img-fluid rounded" alt="user">
                              <div class="caption">
                                 <h6 class="mb-0 line-height">{{admin_data['name']}}</h6>
                                 <span class="font-size-12">Available</span>
                              </div>
                           </a>
                           <div class="iq-sub-dropdown iq-user-dropdown">
                              <div class="iq-card shadow-none m-0">
                                 <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                       <h5 class="mb-0 text-white line-height">Hello {{admin_data['name']}}</h5>
                                       <span class="text-white font-size-12">Available</span>
                                    </div>
                                    <a href="{{ url_for('admin.profile') }}" class="iq-sub-card iq-bg-primary-hover">
                                       <div class="media align-items-center d-flex">
                                          <div class="rounded iq-card-icon iq-bg-primary">
                                             <i class="ri-file-user-line"></i>
                                          </div>
                                          <div class="media-body ms-3">
                                             <h6 class="mb-0 ">My Profile</h6>
                                             <p class="mb-0 font-size-12">View personal profile details.</p>
                                          </div>
                                       </div>
                                    </a>
                                    <div class="d-inline-block w-100 text-center p-3">
                                       <a class="bg-primary iq-sign-btn"  href="{{ url_for('auth.logout') }}" role="button">Sign out<i
                                             class="ri-login-box-line ms-2"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
            <!-- TOP Nav Bar END -->
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="iq-card">
                        <div class="iq-card-body ps-0 pe-0 pt-0">
                           <div class="docter-details-block">
                              <div class="doc-profile-bg bg-primary" style="height:150px;">
                              </div>
                              <div class="docter-profile text-center">  
                                 <img src="{{ url_for('static', filename='images/user/11.png') }}" alt="profile-img" class="avatar-130 img-fluid">
                              </div>
                              <div class="text-center mt-3 ps-3 pe-3">
                                 <h4><b>{{patient_data['name']}}</b></h4>
                                 <span>Last profile update: {{ patient_data.updatedAt }}</span>
                              </br>
                                 <span>UMS ID: {{ patient_data[0].get('umsId', 'N/A') }}</span>
                                 <p class="mb-0">Unified Medical System Patient Profile.</p>
                              </div>
                              <hr>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Personal Information</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body">
                                 <div class="about-info m-0 p-0">
                                    <div class="row">
                                       <div class="col-4">Name:</div>
                                       <div class="col-8">{{ patient_data[1].get('name', 'N/A') }}</div>
                                       <div class="col-4">Email:</div>
                                       <div class="col-8"><a href="mailto:{{ patient_data[1].get('email', 'N/A') }}"> {{ patient_data[1].get('email', 'N/A') }}   </a></div>
                                       <div class="col-4">Phone:</div>
                                       <div class="col-8"><a tel:{{ patient_data[1].get('phoneNumber', ['N/A'])[0] }}">{{ patient_data[1].get('phoneNumber', ['N/A'])[0] }}</a></div>
                                       <div class="col-4">State:</div>
                                       <div class="col-8">{{ patient_data[1].get('state', 'N/A') }}</div>
                                       <div class="col-4">Address:</div>
                                       <div class="col-8">{{ patient_data[1].get('address', 'N/A') }}</div>
                                       <div class="col-4">Updated At:</div>
                                       <div class="col-8">{{ patient_data[0].get('updatedAt', 'N/A') }}</div>
                                       <div class="col-4">Created At:</div>   
                                       <div class="col-8">{{ patient_data[0].get('createdAt', 'N/A') }}</div>
                                       <div class="col-4">Status:</div>
                                       <div class="col-8 text-success">{{ patient_data[1].get('status', 'N/A') }}</div>
                                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile-edit-modal">
                                          Edit Profile
                                        </button>
                                        <!--profile edit  Modal -->
                                        <div class="modal fade" id="profile-edit-modal" tabindex="-1" role="dialog" aria-labelledby="profile-edit-modal" aria-hidden="true">
                                           <div class="modal-dialog modal-dialog-scrollable" role="document">
                                              <div class="modal-content">
                                                 <div class="modal-header">
                                                    <h4 class="modal-title" id="profile-edit-modal"><b>Edit User profile</b></h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body">
                                                   <div class="modal-body">
                                                      <h4 class="modal-title" id="profile-edit-modal"><b>Patient Profile Edit</b></h4>
                                                      <form id="registerForm" action="{{ url_for('admin.profile') }}" autocomplete='off' method="post">
                                                         <input type="hidden" name="form_type" value="update_profile">
                                                         <div class="mb-3">
                                                            <label for="name" class="form-label">Name</label>
                                                            <span id="nameError" class="text-danger"></span>
                                                            <input type="text" class="form-control" id="name" name="name" value="{{ patient_data.name }}" placeholder="Enter name" required>
                                                         </div>
                                                         <div class="mb-3">
                                                            <label for="email" class="form-label">Email</label>
                                                            <span id="emailError" class="text-danger"></span>
                                                            <input type="email" class="form-control" id="email" name="email" value="{{ patient_data.email }}" placeholder="Enter email" required>
                                                         </div>
                                                         <div class="mb-3">
                                                            <label for="phoneNumber" class="form-label">Phone Number</label>
                                                            <span id="phoneNumberError" class="text-danger"></span>
                                                            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="{{ patient_data.phoneNumber }}" placeholder="Enter phone number" required>
                                                         </div>
                                                         <div class="mb-3">
                                                            <label for="status" class="form-label">Status</label>
                                                            <select class="form-select" id="status" name="status" required>
                                                               <option value="active" {% if patient_data.status == 'active' %}selected{% endif %}>Active</option>
                                                               <option value="inactive" {% if patient_data.status == 'inactive' %}selected{% endif %}>Inactive</option>
                                                            </select>
                                                         </div>
                                                         <div class="mb-3">
                                                            <label for="password" class="form-label">Original or new password</label>
                                                            <span id="passwordError" class="text-danger"></span>
                                                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                                                         </div>
                                                         <div class="mb-3">
                                                            <label for="confirm_password" class="form-label">Retype Password</label>
                                                            <span id="confirmPasswordError" class="text-danger"></span>
                                                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
                                                         </div>
                                                         <button type="submit" class="btn btn-primary">Save changes</button>
                                                      </form>
                                                   </div>
                                                 </div>
                                                 <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Appointments Record</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body">
                                 <ul class="list-inline m-0 p-0">
                                    <li>
                                       <h6 class="float-start mb-1">Ruby saul (Blood Check)</h6>
                                       <small class="float-end mt-1">Today</small>
                                       <div class="d-inline-block w-100">
                                          <p class="badge badge-primary">09:00 AM </p>
                                       </div>
                                 </ul>
                              </div>
                           </div>
                     </div>
                  </div>
               </div>   
            </div>

         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <!-- Appear JavaScript -->
      <script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
      <!-- Countdown JavaScript -->
      <script src="{{ url_for('static', filename='js/countdown.min.js') }}"></script>
      <!-- Counterup JavaScript -->
      <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
      <!-- Wow JavaScript -->
      <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{{ url_for('static', filename='js/apexcharts.js') }}"></script>
      <!-- Swiper Slider JavaScript -->
      <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
      <!-- Select2 JavaScript -->
      <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{{ url_for('static', filename='js/smooth-scrollbar.js') }}"></script>
      <!-- lottie JavaScript -->
      <script src="{{ url_for('static', filename='js/lottie.js') }}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{{ url_for('static', filename='js/chart-custom.js') }}"></script>
      <!-- Custom JavaScript -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/form-validation.js') }}"></script>
   </body>
</html>