<!doctype html>
<html lang="en" dir="ltr">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>UMS Admin</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
      <!-- Bootstrap CSS -->
      <link id="bootstrap-css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- Style-Rtl CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style-rtl.css') }}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
      <script>
        function clearForm() {
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        }
       </script>
   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href="index.html">
               <img src="images/logo.png" class="img-fluid" alt="">
               <span>UMS</span>
               </a>
               <div class="iq-menu-bt-sidebar">
                  <div class="iq-menu-bt align-self-center">
                     <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-more-fill"></i></div>
                           <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                     </div>
                  </div>
               </div>
            </div>
            
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                   <ul class="iq-menu">
                       <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Admin Dashboard</span></li>
                       <li>
                           <a href="index.html" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Welcome back {{admin_data['name']}}</span></a>
                       </li>
                       <li>
                           <a href="{{ url_for('admin.index') }}" class="iq-waves-effect"><i class="ri-arrow-left-line"></i><span>Back to Dashboard</span></a>
                       </li>
                   </ul>
               </nav>
               <div class="p-3"></div>
           </div>  
         </div>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <!-- TOP Nav Bar -->
            <div class="iq-top-navbar">
               <div class="iq-navbar-custom">
                  <div class="iq-sidebar-logo">
                     <div class="top-logo">
                        <a href="index.html" class="logo">
                        <img src="images/logo.png" class="img-fluid" alt="">
                        <span>UMS</span>
                        </a>
                     </div>
                  </div>
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                     <div class="iq-search-bar">
                        <form action="#" class="searchbox">
                           <input type="text" class="text search-input" placeholder="Type here to search...">
                           <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                        </form>
                     </div>
                     <ol class="breadcrumb ">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}"><i class="ri-home-4-line me-1 float-start"></i>Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                     </ol>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" href="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <i class="ri-menu-3-line"></i>
                     </button>
                     <div class="iq-menu-bt align-self-center">
                        <div class="wrapper-menu">
                           <div class="main-circle"><i class="ri-more-fill"></i></div>
                           <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                        </div>
                     </div>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto navbar-list">
                           <li class="nav-item iq-full-screen">
                              <a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a>
                           </li>
                           <li class="nav-item">
                              <a href="#" class="search-toggle iq-waves-effect">
                                 <i class="ri-notification-3-fill"></i>
                                 <span class="bg-danger dots"></span>
                              </a>
                              <div class="iq-sub-dropdown">
                                 <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                       <div class="bg-primary p-3">
                                          <h5 class="mb-0 text-white d-flex justify-content-between">All Notifications<small class="badge  badge-dark float-end pt-1">4</small></h5>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </li>

                        </ul>
                     </div>
                     <ul class="navbar-list">
                        <li>
                           <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                              <img src="{{ url_for('static', filename='images/user/1.jpg') }}" class="img-fluid rounded" alt="user">
                              <div class="caption">
                                 <h6 class="mb-0 line-height">{{admin_data['name']}}</h6>
                                 <span class="font-size-12">Available</span>
                              </div>
                           </a>
                           <div class="iq-sub-dropdown iq-user-dropdown">
                              <div class="iq-card shadow-none m-0">
                                 <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                       <h5 class="mb-0 text-white line-height">Hello {{admin_data['name']}}</h5>
                                       <span class="text-white font-size-12">Available</span>
                                    </div>
                                    <a href="#edit-profile-modal" class="iq-sub-card iq-bg-primary-hover" data-bs-toggle="modal">
                                       <div class="media align-items-center d-flex">
                                          <div class="rounded iq-card-icon iq-bg-primary">
                                             <i class="ri-profile-line"></i>
                                          </div>
                                          <div class="media-body ms-3">
                                             <h6 class="mb-0 ">Edit Profile</h6>
                                             <p class="mb-0 font-size-12">Modify your personal details.</p>
                                          </div>
                                       </div>
                                    </a>
                                    <div class="d-inline-block w-100 text-center p-3">
                                       <a class="bg-primary iq-sign-btn" href="{{ url_for('auth.logout') }}" role="button">Sign out<i class="ri-login-box-line ms-2"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
            <!-- TOP Nav Bar END -->
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="iq-card">
                        <div class="iq-card-body ps-0 pe-0 pt-0">
                           <div class="docter-details-block">
                              <div class="doc-profile-bg bg-primary" style="height:150px;">
                              </div>
                              <div class="docter-profile text-center">  
                                 <img src="{{ url_for('static', filename='images/user/11.png') }}" alt="profile-img" class="avatar-130 img-fluid">
                              </div>
                              <div class="text-center mt-3 ps-3 pe-3">
                                 <h4><b>{{admin_data['name']}}</b></h4>
                                 <span>Last profile update: {{ admin_data.updatedAt }}</span>
                              </br>
                                 <span>UMS ID: {{ admin_data.umsId }}</span>
                                 <p class="mb-0">Unified Medical System Administrator Profile.</p>
                              </div>
                              <hr>
                              <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 m-0" >
                                 <li class="text-center">
                                    <h3 class="counter">{{ global_admin_data['doctors_count'] }}</h3>
                                    <span>Doctors</span>
                                  </li>
                                  <li class="text-center">
                                    <h3 class="counter">{{ global_admin_data['hospital_count'] }}</h3>
                                    <span>Hospital</span>
                                  </li>
                                  <li class="text-center">
                                    <h3 class="counter">{{ global_admin_data['patients_count'] }}</h3>
                                    <span>Patients</span>
                                  </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Personal Information</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="about-info m-0 p-0">
                              <div class="row">
                                 <div class="col-4">User:</div>
                                 <div class="col-8">{{admin_data['name']}}</div>
                                 <div class="col-4">Email:</div>
                                 <div class="col-8"><a href="mailto:{{admin_data['email']}}"> {{admin_data['email']}}  </a></div>
                                 <div class="col-4">Phone:</div>
                                 <div class="col-8"><a href="tel:{{admin_data['phoneNumber']}}">{{admin_data['phoneNumber']}}</a></div>
                                 <div class="col-4">State:</div>
                                 <div class="col-8">Not Specified</div>
                                 <div class="col-4">Updated At:</div>
                                 <div class="col-8">{{ admin_data.updatedAt }}</div>
                                 <div class="col-4">Created At:</div>   
                                 <div class="col-8">{{ admin_data.createdAt }}</div>
                                 <div class="col-4">UMS ID:</div>
                                 <div class="col-8">{{ admin_data.umsId }}</div>
                                 <div class="col-4">Status:</div>
                                 <div class="col-8">{{ admin_data.status }}</div>
                                  <!--profile edit  Modal -->
                                  <div class="modal fade" id="profile-edit-modal" tabindex="-1" role="dialog" aria-labelledby="profile-edit-modal" aria-hidden="true">
                                     <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                           <div class="modal-header">
                                              <h4 class="modal-title" id="profile-edit-modal"><b>Edit Admin profile</b></h4>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                           </div>
                                           <div class="modal-body">
                                             <form id="registerForm" action="{{ url_for('admin.profile') }}" autocomplete='off' method="post">
                                                <input type="hidden" name="form_type" value="update_profile">
                                                <div class="mb-3">
                                                   <label for="name" class="form-label">Name</label>
                                                   <span id="nameError" class="text-danger"></span>
                                                   <input type="text" class="form-control" id="name" name="name" value="{{ admin_data.name }}" placeholder="Enter name" required>
                                                </div>
                                                <div class="mb-3">
                                                   <label for="email" class="form-label">Email</label>
                                                   <span id="emailError" class="text-danger"></span>
                                                   <input type="email" class="form-control" id="email" name="email" value="{{ admin_data.email }}" placeholder="Enter email" required>
                                                </div>
                                                <div class="mb-3">
                                                   <label for="phoneNumber" class="form-label">Phone Number</label>
                                                   <span id="phoneNumberError" class="text-danger"></span>
                                                   <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="{{ admin_data.phoneNumber }}" placeholder="Enter phone number" required>
                                                </div>
                                                <div class="mb-3">
                                                   <label for="status" class="form-label">Status</label>
                                                   <select class="form-select" id="status" name="status" required>
                                                      <option value="active" {% if admin_data.status == 'active' %}selected{% endif %}>Active</option>
                                                      <option value="inactive" {% if admin_data.status == 'inactive' %}selected{% endif %}>Inactive</option>
                                                   </select>
                                                </div>
                                                <div class="mb-3">
                                                   <label for="password" class="form-label">Original or new password</label>
                                                   <span id="passwordError" class="text-danger"></span>
                                                   <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                                                </div>
                                                <div class="mb-3">
                                                   <label for="confirm_password" class="form-label">Retype Password</label>
                                                   <span id="confirmPasswordError" class="text-danger"></span>
                                                   <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                             </form>
                                           </div>
                                           <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                           </div>
                                        </div>
                                        
                                     </div>
                                  </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>            
               </div>
               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile-edit-modal">
                  Edit Profile
               </button>   
            </div>
            <!-- Footer -->
            <footer class="bg-white iq-footer">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-6 text-end">
                        Copyright <span id="copyright"> 
<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
</span> <a href="#">UMS</a> All Rights Reserved.
                     </div>
                  </div>
               </div>
            </footer>
            <!-- Footer END -->
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <!-- Appear JavaScript -->
      <script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
      <!-- Countdown JavaScript -->
      <script src="{{ url_for('static', filename='js/countdown.min.js') }}"></script>
      <!-- Counterup JavaScript -->
      <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
      <!-- Wow JavaScript -->
      <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{{ url_for('static', filename='js/apexcharts.js') }}"></script>
      <!-- Swiper Slider JavaScript -->
      <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
      <!-- Select2 JavaScript -->
      <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{{ url_for('static', filename='js/smooth-scrollbar.js') }}"></script>
      <!-- lottie JavaScript -->
      <script src="{{ url_for('static', filename='js/lottie.js') }}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{{ url_for('static', filename='js/chart-custom.js') }}"></script>
      <!-- Custom JavaScript -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/form-validation.js') }}"></script>
   </body>
</html>