<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="index.html">
            <img src="images/logo.png" class="img-fluid" alt="">
            <span>UMS</span>
        </a>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul class="iq-menu">
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Admin Dashboard</span></li>
                <li>
                    <a href="index.html" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Welcome back {{admin_data['name']}}</span></a>
                </li>
                <li>
                 <hr class="iq-divider">
              </li>
                <li>
                 <a href="#" class="iq-waves-effect"><i class="ri-user-fill"></i><span>User Management</span></a>
               </li>
                <li>
                    <a href="#" class="iq-waves-effect"><i class="ri-group-fill"></i><span>Patients</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                       <li><a href="#" data-bs-toggle="modal" data-bs-target=".patient-view-modal"><i class="ri-list-check"></i><span>View / Manage</span></a></li>
                       <li><a href="#"><i class="ri-file-list-fill"></i><span>Access Records</span></a></li>
                    </ul>
                 </li>

                 <li>
                    <a href="#" class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Doctors</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                       <li><a href="#" data-bs-toggle="modal" data-bs-target=".doctor-view-modal"><i class="ri-list-check"></i><span>View / Manage</span></a></li>
                       <li><a href="#" data-bs-toggle="modal" data-bs-target=".doctor-approval-modal"><i class="ri-check-double-fill"></i><span>Accept or Reject Reqeusts</span></a></li>
                       <li><a href="#"><i class="ri-file-list-fill"></i><span>Access Records</span></a></li>
                    </ul>
                </li>
                <li>
                 <a href="#" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Hospitals</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                 <ul class="iq-submenu">
                     <li><a href="#" data-bs-toggle="modal" data-bs-target=".hospital-view-modal"><i class="ri-list-check"></i><span>View / Manage</span></a></li>
                     <li><a href="#" data-bs-toggle="modal" data-bs-target=".hospital-approval-modal"><i class="ri-check-double-fill"></i><span>Approve or Reject Registration</span></a></li>
                 </ul>
               </li>   
                <li>
                    <a href="#" class="iq-waves-effect"><i class="ri-file-list-fill"></i><span>Hospital Registration</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a href="#"><i class="ri-list-check"></i><span>Access Directly</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="iq-waves-effect"><i class="ri-file-list-fill"></i><span>Doctor Registration</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a href="#"><i class="ri-list-check"></i><span>Access Directly</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="iq-waves-effect"><i class="ri-calendar-event-fill"></i><span>Calendar</span></a>
                </li>
                <li>
                    <a href="#" class="iq-waves-effect"><i class="ri-map-pin-2-fill"></i><span>Map</span></a>
                </li>
                <li>
                    <a href="#" class="iq-waves-effect"><i class="ri-user-fill"></i><span>Support</span></i></a>
                    <ul class="iq-submenu">
                        <li><a href="#"><i class="ri-list-check"></i><span>Manage</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="iq-waves-effect"><i class="ri-settings-5-fill"></i><span>Feedback</span></a>
                    <ul class="iq-submenu">
                       <li><a href="#"><i class="ri-list-check"></i><span>Manage</span></a></li>
                   </ul>
                </li>
            </ul>
        </nav>
        <div class="p-3"></div>
    </div> 
</div>

