<!doctype html>
<html lang="en" dir="ltr">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>UMS - Doctor Profile</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
      <!-- Bootstrap CSS -->
      <link id="bootstrap-css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- Style-Rtl CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style-rtl.css') }}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href="{{ url_for('doctor.index') }}">
               <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid" alt="">
               <span>UMS</span>
               </a>
               <div class="iq-menu-bt align-self-center">
                  <div class="wrapper-menu">
                     <div class="main-circle"><i class="ri-more-fill"></i></div>
                     <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                  </div>
               </div>
            </div>
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li class="active">
                        <a href="{{ url_for('doctor.index') }}" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Dashboard</span></a>
                     </li>
                     <li>
                        <a href="{{ url_for('doctor.profile') }}" class="iq-waves-effect"><i class="ri-profile-line"></i><span>Profile</span></a>
                     </li>
                     <li>
                        <a href="{{ url_for('doctor.edit_profile') }}" class="iq-waves-effect"><i class="ri-edit-line"></i><span>Edit Profile</span></a>
                     </li>
                     <li>
                        <a href="{{ url_for('doctor.appointments') }}" class="iq-waves-effect"><i class="ri-calendar-line"></i><span>Appointments</span></a>
                     </li>
                     <li>
                        <a href="{{ url_for('doctor.inbox') }}" class="iq-waves-effect"><i class="ri-mail-line"></i><span>Inbox</span></a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
         <!-- TOP Nav Bar -->
         <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
               <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="iq-menu-bt align-self-center">
                     <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-more-fill"></i></div>
                        <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                     </div>
                  </div>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav ms-auto navbar-list">
                        <li class="nav-item iq-full-screen">
                           <a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a>
                        </li>
                     </ul>
                  </div>
                  <ul class="navbar-list">
                     <li class="nav-item">
                        <div class="iq-breadcrumb">
                           <a href="{{ url_for('doctor.index') }}" class="breadcrumb-item"><i class="ri-home-4-line"></i>Dashboard</a>
                           <a href="{{ url_for('doctor.profile') }}" class="breadcrumb-item active">Profile</a>
                        </div>
                     <li>
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                           <img src="{{ url_for('static', filename='images/user/1.jpg') }}" class="img-fluid rounded" alt="user">
                           <div class="caption">
                              <h6 class="mb-0 line-height">{{ doctor_data.name }}</h6>
                              <span class="font-size-12">Available</span>
                           </div>
                        </a>
                        <div class="iq-sub-dropdown iq-user-dropdown">
                           <div class="iq-card shadow-none m-0">
                              <div class="iq-card-body p-0 ">
                                 <div class="bg-primary p-3">
                                    <h5 class="mb-0 text-white line-height">Hello {{ doctor_data.name }}</h5>
                                    <span class="text-white font-size-12">Available</span>
                                 </div>
                                 <a href="{{ url_for('doctor.profile') }}" class="iq-sub-card iq-bg-primary-hover">
                                    <div class="media align-items-center">
                                       <div class="rounded iq-card-icon iq-bg-primary">
                                          <i class="ri-file-user-line"></i>
                                       </div>
                                       <div class="media-body ms-3">
                                          <h6 class="mb-0 ">My Profile</h6>
                                          <p class="mb-0 font-size-12">View personal profile details.</p>
                                       </div>
                                    </div>
                                 </a>
                                 <a href="{{ url_for('doctor.edit_profile') }}" class="iq-sub-card iq-bg-primary-hover">
                                    <div class="media align-items-center">
                                       <div class="rounded iq-card-icon iq-bg-primary">
                                          <i class="ri-profile-line"></i>
                                       </div>
                                       <div class="media-body ms-3">
                                          <h6 class="mb-0 ">Edit Profile</h6>
                                          <p class="mb-0 font-size-12">Modify your personal details.</p>
                                       </div>
                                    </div>
                                 </a>
                                 <div class="d-inline-block w-100 text-center p-3">
                                    <a class="btn btn-primary iq-sign-btn" href="{{ url_for('auth.logout') }}" role="button">Sign out<i class="ri-login-box-line ms-2"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="iq-card">
                        <div class="iq-card-body ps-0 pe-0 pt-0">
                           <div class="docter-details-block">
                              <div class="doc-profile-bg bg-primary" style="height:150px;">
                              </div>
                              <div class="docter-profile text-center">
                                 <img src="{{ url_for('static', filename='images/user/11.png') }}" alt="profile-img" class="avatar-130 img-fluid">
                              </div>
                              <div class="text-center mt-3 pl-3 pr-3">
                                 <h4><b>{{ doctor_data.name }}</b></h4>
                                 <p>{{ doctor_data.specialization }}</p>
                                 <p class="mb-0">{{ doctor_data.qualification }}</p>
                                 <p class="mb-0 text-danger"><b>Last Updated: {{ doctor_data.updatedAt.strftime('%Y-%m-%d %H:%M:%S') }}</b></p>
                              </div>
                              <hr>
                              <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 m-0">
                                 <li class="text-center">
                                    <h3 class="counter">{{ doctor_data.total_appointments }}</h3>
                                    <span>Total Appointments</span>
                                 </li>
                                 <li class="text-center">
                                    <h3 class="text-primary">{{ doctor_data.hospital_name }}</h3>
                                    <span>Hospital Name</span>
                                 </li>
                                 <li class="text-center">
                                    <h3 class="counter">{{ doctor_data.today_appointments }}</h3>
                                    <span>Today's Appointments</span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Personal Information</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="about-info m-0 p-0">
                              <div class="row">
                                 <div class="col-4 text-primary"><b><i class="ri-user-line"></i> First Name:</b></div>
                                 <div class="col-8 text-primary"><b>{{ doctor_data.name.split()[0] }}</b></div>
                                 <div class="col-4 text-primary"><b><i class="ri-user-line"></i> Last Name:</b></div>
                                 <div class="col-8 text-primary"><b>{{ doctor_data.name.split()[-1] }}</b></div>
                                 <div class="col-4 text-success"><b><i class="ri-mail-line"></i> Email:</b></div>
                                 <div class="col-8 text-success"><b><a href="mailto:{{ doctor_data.email }}">{{ doctor_data.email }}</a></b></div>
                                 <div class="col-4 text-success"><b><i class="ri-phone-line"></i> Phone:</b></div>
                                 <div class="col-8 text-success"><b><a href="tel:{{ doctor_data.phoneNumber }}">{{ doctor_data.phoneNumber }}</a></b></div>
                                 <div class="col-4 text-warning"><b><i class="ri-file-text-line"></i> Specialization:</b></div>
                                 <div class="col-8 text-warning"><b>{{ doctor_data.specialization }}</b></div>
                                 <div class="col-4 text-warning"><b><i class="ri-id-card-line"></i> Medical ID:</b></div>
                                 <div class="col-8 text-warning"><b>{{ doctor_data.medicalId }}</b></div>
                                 <div class="col-4 text-warning"><b><i class="ri-certificate-line"></i> Qualification:</b></div>
                                 <div class="col-8 text-warning"><b>{{ doctor_data.qualification }}</b></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Speciality</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body">
                                 <ul class="speciality-list m-0 p-0">
                                    {% for specialization in doctor_data.specialization.split(',') %}
                                    <li class="d-flex mb-4 align-items-center">
                                       <div class="user-img img-fluid"><a href="#" class="iq-bg-primary"><i class="ri-award-fill"></i></a></div>
                                       <div class="media-support-info ms-3">
                                          <h6>{{ specialization.strip() }}</h6>
                                          <p class="mb-0">{{ specialization.strip() }}</p>
                                       </div>
                                    </li>
                                    {% endfor %}
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Education</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body">
                                 <div class="table-responsive">
                                    <table class="table mb-0 table-borderless">
                                     <thead>
                                         <tr>
                                             <th scope="col">Degree</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         {% for education in doctor_data.qualification.split(',') %}
                                         <tr>
                                             <td class="badge badge-outline-success">{{ education.split(',')[0] }}</td>
                                         </tr>
                                         {% endfor %}
                                     </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Experience</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body">
                                 <div class="table-responsive">
                                    <table class="table mb-0 table-borderless">
                                     <thead>
                                         <tr>
                                             <th scope="col">Year</th>
                                             <th scope="col">Department</th>
                                             <th scope="col">Position</th>
                                             <th scope="col">Hospital</th>
                                             <th scope="col">Feedback</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <tr>
                                             <td>2014 - 2018</td>
                                             <td>MBBS, M.D</td>
                                             <td>Senior Doctor</td>
                                             <td>Midtown Medical Clinic</td>
                                             <td><span class="badge badge-primary">Good</span></td>
                                         </tr>
                                         <tr>
                                             <td>2018 - 2020</td>
                                             <td>M.D. of Medicine</td>
                                             <td>Associate Prof.</td>
                                             <td>Netherland Medical College</td>
                                             <td><span class="badge badge-success">excellence</span></td>
                                         </tr>
                                     </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Footer -->
            <footer class="bg-white iq-footer">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-6">
  
                     </div>
                     <div class="col-lg-6 text-end">
                        Copyright <span id="copyright"> 
                           <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                        </span> <a href="#">UMS</a> All Rights Reserved.
                     </div>
                  </div>
               </div>
            </footer>
            <!-- Footer END -->
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <!-- Appear JavaScript -->
      <script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
      <!-- Countdown JavaScript -->
      <script src="{{ url_for('static', filename='js/countdown.min.js') }}"></script>
      <!-- Counterup JavaScript -->
      <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
      <!-- Wow JavaScript -->
      <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{{ url_for('static', filename='js/apexcharts.js') }}"></script>
      <!-- Swiper Slider JavaScript -->
      <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
      <!-- Select2 JavaScript -->
      <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{{ url_for('static', filename='js/smooth-scrollbar.js') }}"></script>
      <!-- lottie JavaScript -->
      <script src="{{ url_for('static', filename='js/lottie.js') }}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{{ url_for('static', filename='js/chart-custom.js') }}"></script>
      <!-- Custom JavaScript -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
   </body>
</html>